
@font-face {
    font-family:"Antiquarian";
    src:url("antiquarian.woff2") format("woff2"),url("antiquarian.woff") format("woff"),url("antiquarian.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"Broadsheet-Italic";
    src:url("broadsheet-italic.woff2") format("woff2"),url("broadsheet-italic.woff") format("woff"),url("broadsheet-italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"Broadsheet";
    src:url("broadsheet.woff2") format("woff2"),url("broadsheet.woff") format("woff"),url("broadsheet.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"Geographica-Italic";
    src:url("geographica-italic.woff2") format("woff2"),url("geographica-italic.woff") format("woff"),url("geographica-italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"GeographicaScript";
    src:url("geographica-script.woff2") format("woff2"),url("geographica-script.woff") format("woff"),url("geographica-script.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        
@font-face {
    font-family:"Geographica";
    src:url("geographica.woff2") format("woff2"),url("geographica.woff") format("woff"),url("geographica.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        