
@font-face {
    font-family:"GeographicaScript";
    src:url("geographica-script.woff2") format("woff2"),url("geographica-script.woff") format("woff"),url("geographica-script.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        