
@font-face {
    font-family:"Geographica";
    src:url("geographica.woff2") format("woff2"),url("geographica.woff") format("woff"),url("geographica.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        